{% extends 'base.html' %}

{% block content %}
<div class="auth-wrapper">

    <div class="auth-card">
        <h1>Welcome Back</h1>
        <p>Login to manage your Amina Store account.</p>

        <form method="POST">
            {% csrf_token %}

            <label>Username</label>
            {{ form.username }}

            <label>Password</label>
            {{ form.password }}

            <button type="submit" class="auth-btn">
                Login
            </button>
        </form>

        <p class="auth-link">
            Don’t have an account?
            <a href="{% url 'register' %}">Create account </a>
        </p>
    </div>

</div>
{% endblock %}