{% extends 'base.html' %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <h1>Create Account</h1>

        <p>
            Join Amina Store and start shopping today.
        </p>

        <form method="POST">
            {% csrf_token %}

            <label>Username</label>
            {{ form.username }}

            <label>Password</label>
            {{ form.password1 }}

            <label>Confirm Password</label>
            {{ form.password2 }}

            <button type="submit" class="auth-btn">
                Create Account
            </button>
        </form>

        <p class="auth-link">
            Already have an account?
            <a href="{% url 'login' %}">
                Login
            </a>
        </p>

    </div>

</div>

{% endblock %}