<aside class="admin-sidebar">

    <h2>Amina Admin</h2>

    <a href="{% url 'admin_dashboard' %}">
        <i class="fa-solid fa-chart-line"></i>
        Dashboard
    </a>

    <a href="{% url 'admin_products' %}">
        <i class="fa-solid fa-box"></i>
        Products
    </a>

    <a href="{% url 'admin_orders' %}">
        <i class="fa-solid fa-cart-shopping"></i>
        Orders
    </a>

    <a href="{% url 'admin_customers' %}">
        <i class="fa-solid fa-users"></i>
        Customers
    </a>

    <a href="{% url 'admin_analytics' %}">
        <i class="fa-solid fa-chart-pie"></i>
        Analytics
    </a>

    <a href="{% url 'admin_settings' %}">
        <i class="fa-solid fa-gear"></i>
        Settings
    </a>

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="admin-logout-btn">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </button>
    </form>

</aside>