{% extends 'base.html' %}

{% block content %}

<div class="admin-layout">

    {% include 'products/admin_sidebar.html' %}

    <div class="admin-content">

        <div class="dashboard-header">
            <h1>Orders</h1>
            <p>Manage customer orders and payments.</p>
        </div>

        <div class="dashboard-panel">

            <table class="admin-table">

                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>

                    {% for order in orders %}

                    <tr>

                        <td>
                            #{{ order.id }}
                        </td>

                        <td>
                            {{ order.user.username }}
                        </td>

                        <td>
                            <span class="status-badge status-{{ order.status|lower }}">
                                {{ order.status }}
                            </span>
                        </td>

                        <td>
                            R {{ order.total }}
                        </td>

                        <td>
                            {{ order.created_at|date:"d M Y" }}
                        </td>

                <td class="order-actions">

                    <a href="{% url 'update_order_status' order.id 'Processing' %}"
                    class="btn-action blue-btn">
                        <i class="fa-solid fa-gear"></i>
                        Processing
                    </a>

                    <a href="{% url 'update_order_status' order.id 'Delivered' %}"
                    class="btn-action green-btn">
                        <i class="fa-solid fa-circle-check"></i>
                        Delivered
                    </a>

                    <a href="{% url 'update_order_status' order.id 'Cancelled' %}"
                    class="btn-action red-btn">
                        <i class="fa-solid fa-ban"></i>
                        Cancel
                    </a>

                </td>

                    </tr>

                    {% empty %}

                    <tr>
                        <td colspan="6" class="empty-table">
                            No orders available.
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}