{% extends 'base.html' %}

{% block content %}

<div class="profile-page">

    <h1 class="profile-title">My Profile</h1>
    <p class="breadcrumb-text">Home › My Profile</p>

    <div class="profile-layout">

        <!-- SIDEBAR -->

         {% include 'products/profile_sidebar.html' %}  

        <!-- MAIN CONTENT -->

        <section class="profile-main-card">

            <h2>
                <i class="fa-solid fa-user"></i>
                Profile Overview
            </h2>

            <p class="section-subtitle">
                Manage your account information and preferences.
            </p>

            <div class="profile-grid">

                <div class="profile-box">

                    <span>Username</span>

                    <strong>
                        {{ request.user.username }}
                    </strong>

                </div>

                <div class="profile-box">

                    <span>Email Address</span>

                    <strong>

                        {% if request.user.email %}
                            {{ request.user.email }}
                        {% else %}
                            No email added
                        {% endif %}

                    </strong>

                </div>

                <div class="profile-box">

                    <span>Date Joined</span>

                    <strong>
                        {{ request.user.date_joined|date:"d M Y" }}
                    </strong>

                </div>

                <div class="profile-box">

                    <span>Last Login</span>

                    <strong>
                        {{ request.user.last_login|date:"d M Y, H:i" }}
                    </strong>

                </div>

            </div>

            <div class="status-box">

                <span>Account Status</span>

                <strong class="active-status">
                    ● Active
                </strong>

            </div>

            <hr>

            <h2>
                <i class="fa-solid fa-pen-to-square"></i>
                Quick Actions
            </h2>

            <p class="section-subtitle">
                Update your account and security settings.
            </p>

            <div class="quick-actions">

                <div class="action-card">

                    <i class="fa-solid fa-lock"></i>

                    Change Password ›

                </div>

                <div class="action-card">

                    <i class="fa-solid fa-envelope"></i>

                    Update Email ›

                </div>

                <div class="action-card">

                    <i class="fa-solid fa-user"></i>

                    Personal Info ›

                </div>

            </div>

        </section>

    </div>

</div>

{% endblock %}